doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta name="viewport" content="width=device-width"
    meta name="description" content=""
    meta name="keywords" content=""

    title LiqrMakr - How to Make Your Own Liquors

    == stylesheet_link_tag "main"

  body

    main

      h1
        a(href="/") LiqrMakr

      section.intro
        h2 Making Your Own Liquors is Easy
        p LiqrMakr helps you make your own liquors at home using grain alcohol and a variety of flavoring agents. We have recipes for all sorts of liquors including limoncello, coffee liquor, anisette and even home-made gin.


      section.overview
        h2 How You Do It
        p This section shows an illustrated step-by-step of the process.

        ol
          li
            h3 Mix
            p Mix grain alcohol (95% alcohol) with flavoring ingredient(s)
          li
            h3 Wait
            p Anywhere from a few days to a month
          li
            h3 Finish
            ol
              li Filter the mixture
              li Add water or simple syrup
              li Bottle


      section.recipes
        a(name="#recipes")
        h2 Common Recipes

        ul
          li 
            a(href="/recipes/limoncello") Limoncello (4 days)
          li Limoncello (1 month)
          li Coffee Liquor
          li Cinnamoncello
          li Red Hot liquor
          li Anisette
          li Home-made "Gin"






